<h2 *ngIf="subscribedToServices === false">No services found</h2>
<table class="table table-bordered" *ngIf="subscribedToServices === true">
  <thead>
    <th>Service Name</th>
    <th>Price</th>
    <th>Date Subscribed</th>
  </thead>
  <tbody>
    <tr *ngFor="let service of services">
      <td>{{service.service_name}}</td>
      <td>{{service.service_price}}</td>
      <td>{{service.date_subscribed}}</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="goToSubscribePage()">Subscribe to service</button>
